<form class="form-auth form-signup">
  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
  <label for="repeatPassword" class="sr-only">Repeat password</label>
  <input type="password" id="repeatPassword" class="form-control repeat-password" placeholder="Repeat password" required="">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  <a routerLink="../sign-in">... if you already have an account just go to the sign in page</a>
  <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</form>
