::ng-deep {
  .form-auth {
    .checkbox {
      font-weight: 400;
    }
    .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-control:focus {
      z-index: 2;
    }
    input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &.form-signup {
      input[type="password"] {
        margin-bottom: -1px;
        border-radius: 0;
        &.repeat-password {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }
}

.container {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
