<div class="container">
  <form [formGroup]="form" (submit)="onSubmit()" class="form-auth form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input formControlName="email" type="email" class="form-control" placeholder="Email address" required autofocus="" />
    <label for="inputPassword" class="sr-only">Password</label>
    <input formControlName="password" type="password" class="form-control" placeholder="Password" required />
    <div class="checkbox mb-3"></div>
    <button class="btn btn-primary btn-lg" type="submit">Sign in</button>
  </form>
</div>
